$primaryButtonColor:  #46139f;
$primaryButtonHoverColor:  #46139fe1;
$secondaryButtonColor:   #ff7f50;
$secondaryButtonHoverColor:   #ff7f50e1;

.btn-primary {
  background-color: $primaryButtonColor !important;
  border-color: $primaryButtonColor !important;
  &:hover, &:active, &:focus {
    background-color: $primaryButtonHoverColor !important;
  }
}

.btn-secondary {
  background-color: $secondaryButtonColor !important;
  border-color: $secondaryButtonColor !important;
  color: white !important;
  &:hover, &:active, &:focus {
    color: white;
    background-color: $secondaryButtonHoverColor !important;
  }
}

.btn-default {
  background-color: white !important;
  color: $primaryButtonColor !important;
  border-color: $primaryButtonColor !important;
  &:hover, &:active, &:focus {
    background-color: white !important;
  };
  &.primary {
    color: $primaryButtonColor !important;
    border-color: $primaryButtonColor !important;
  };
  &.secondary {
    color: $secondaryButtonColor !important;
    border-color: $secondaryButtonColor !important;
  };
}