.contact-data-field {
  display: flex;
  justify-content: left;
  font-size: 1.2rem;
  padding: 10px 0;
  .contact-data-field-label {
    white-space: nowrap;
    width: 22% !important;
    font-weight: 500;
    
  }

  .field-delimiter {
    text-align: center;
    width: 20%;
    &::before{
      content: ":";
    }
  }

  .contact-data-field-value {
    text-transform: capitalize;
  }
  
  .data-field {
    width: 60%;
  }
}