.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 20;
  .overflow {
    overflow: auto;
    overflow-y: hidden !important;
    div {
      div {
        overflow-x: hidden !important;
      }
    }
  }
  .lg{
    max-width: 80vw !important;
  }
  .md {
    max-width: 50vw !important;
  }
}

.modal-main {
  border: 2px solid green;
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  min-height: 300px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-body {
  .loader-container{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .modal {
    .lg {
      max-width: 100vw!important;
    }
  }
}