$allContactHeaderColor: #46139f;
$secondaryContactColor: #ff7f50;

.contact-list-heading {
  cursor: pointer;
  display: flex;
  padding: 7px 20px;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  &.primary {
    color: $allContactHeaderColor;
  }
  &.secondary {
    color: $secondaryContactColor;
  }
  .contact-first-name, .contact-email{
    width: 23%;
  }

  .contact-first-name, .contact-last-name{
    text-transform: capitalize;
  }
  
  .contact-phone, .contact-last-name {
    width: 18%;
  }
}

.table-data {
  color: black !important;
  .contact-first-name, .contact-email, .contact-phone, .contact-last-name {
    padding-left: 5px;
  }
}

.contact-data-list {
  height: 60px;
  border: 1px solid green;
  margin: 6px;
  padding: 8px;
}

.no-contacts-msg {
  margin: 30px auto;
  text-align: center;
}

.custom-scroll {
  //height: calc(100vh - 260px);
  touch-action: none;
  overflow-y: scroll !important ;
}